{% block title %}
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

  <div class="survey-container">
    <div class="survey-content">
      {% block survey_content %}
      <h1>Page I: Fashion Preferences</h1>
      <br>


      {% endblock %}

      {{ formfields }}
      {{ next_button }}
    </div>
  </div>

  <style>

    body {
      margin: 0;
      padding: 0;
      background-image: url("/static/img/single.jpeg");
      background-size: cover;
      background-position: center;
    }

    h1 {
    color: #E55807;
    text-align: center;
    }

   h3 {
   text-align: center;

   }

   p{
   text-align: center;
   font-size: 20px;
   }


  </style>
{% endblock %}