{% block title %}
{{ endblock }}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<div class="survey-container">
  <div class="survey-content">
    {% block survey_content %}


       <h1>Page III: Please Watch Carefully! (1 Minute) </h1>

       <br>

    <div style="display: flex; justify-content: center;">
<iframe width="1424" height="563" src="https://www.youtube.com/embed/0v7f0KeNpv8" title="Wasted: Fast fashion is fueling our ecological crisis #beatpollution" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>


    {% endblock %}
  </div>
</div>

<style>
  body {
    background-color: black;
    color: #882200;
    background-size: cover;
    background-image: url("/static/img/blurry.jpeg");
    background-position: center;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: #E55807;
    font-size: 28px;
    text-align: center;
    font-weight: bold;
  }

 h2{
  color: #E55807;
  text-align: center;
  }

  p{
    color: #164B60;
    text-align: center;
  }
</style>

{{ formfields }}
<br>
{% next_button %}

{{ endblock }}


